<div class="height100">
  <span id="closeBtn" class="close-button uk-button-link" uk-close></span>
  <div>
    <div class="uk-margin-small">
      <label class="uk-form-label uk-text-muted" for="form-stacked-text">在庫コード</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-blank" id="form-stacked-text" type="text" value="test" disabled>
      </div>
    </div>
    <div class="uk-margin-small">
      <label class="uk-form-label uk-text-muted" for="form-stacked-text">物品コード</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-blank" id="form-stacked-text" type="text" value="test" disabled>
      </div>
    </div>
    <div class="uk-margin-small">
      <label class="uk-form-label uk-text-muted" for="form-stacked-text">物品名</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-blank" id="form-stacked-text" type="text" value="test" disabled>
      </div>
    </div>
    <div class="uk-margin-small">
      <label class="uk-form-label uk-text-muted" for="form-stacked-text">ステータス</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-blank" id="form-stacked-text" type="text" value="test" disabled>
      </div>
    </div>
    <div class="uk-margin-small">
      <label class="uk-form-label uk-text-muted" for="form-stacked-text">登録者</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-blank" id="form-stacked-text" type="text" value="test" disabled>
      </div>
    </div>
    <div class="uk-margin-small">
      <label class="uk-form-label uk-text-muted" for="form-stacked-text">登録者メールアドレス</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-blank" id="form-stacked-text" type="text" value="test" disabled>
      </div>
    </div>
    <div class="uk-margin-small">
      <label class="uk-form-label uk-text-muted" for="form-stacked-text">登録者部署名</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-blank" id="form-stacked-text" type="text" value="test" disabled>
      </div>
    </div>
    <div class="uk-margin-small">
      <label class="uk-form-label uk-text-muted" for="form-stacked-text">登録日時</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-blank" id="form-stacked-text" type="text" value="test" disabled>
      </div>
    </div>
    <div class="uk-margin-small">
      <label class="uk-form-label uk-text-muted" for="form-stacked-text">更新者</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-blank" id="form-stacked-text" type="text" value="test" disabled>
      </div>
    </div>
    <div class="uk-margin-small">
      <label class="uk-form-label uk-text-muted" for="form-stacked-text">更新者メールアドレス</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-blank" id="form-stacked-text" type="text" value="test" disabled>
      </div>
    </div>
    <div class="uk-margin-small">
      <label class="uk-form-label uk-text-muted" for="form-stacked-text">更新者部署名</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-blank" id="form-stacked-text" type="text" value="test" disabled>
      </div>
    </div>
    <div class="uk-margin-small">
      <label class="uk-form-label uk-text-muted" for="form-stacked-text">更新日時</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-blank" id="form-stacked-text" type="text" value="test" disabled>
      </div>
    </div>
  </div>
</div>
