<div class="uk-container uk-container-expand">
  <nav class="uk-navbar">
    <div class="uk-navbar-left">
      <a href="./" class="uk-navbar-item uk-logo text-white">
        <%= image_tag 'logo.png' %>
      </a>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav uk-visible@m">
        <li class="uk-active">
          <%= link_to destroy_user_session_path, method: :get, class: "text-white uk-button-text" do %>ログアウト<% end %>
        </li>
      </ul> 
    </div>
  </nav>
</div>
