<div class="uk-card uk-card-default uk-box-shadow-large uk-border-rounded">
  <table class="uk-table uk-table-divider">
    <thead>
      <tr>
        <th id="zaikoCodeHeader" class="uk-text-nowrap">在庫コード<span uk-icon="icon: none"></span></th>
        <th id="itemCodeHeader" class="uk-text-nowrap">物品コード<span uk-icon="icon: none"></span></th>
        <th id="itemNameHeader" class="uk-text-nowrap">物品名<span uk-icon="icon: none"></span></th>
        <th id="statusHeader" class="uk-text-nowrap">ステータス<span uk-icon="icon: none"></span></th>
        <th id="registUserHeader" class="uk-text-nowrap">登録者<span uk-icon="icon: none"></span></th>
        <th id="registDateHeader" class="uk-text-nowrap">登録日時<span uk-icon="icon: none"></span></th>
        <th id="updateUserHeader" class="uk-text-nowrap">更新者<span uk-icon="icon: none"></span></th>
        <th id="updateDateHeader" class="uk-text-nowrap">更新日時<span uk-icon="icon: none"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr class="listLine">
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
      </tr>
      <tr class="listLine">
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
      </tr>
      <tr class="listLine">
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
      </tr>
      <tr class="listLine">
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
      </tr>
      <tr class="listLine">
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
      </tr>
      <tr class="listLine">
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
      </tr>
      <tr class="listLine">
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
      </tr>
      <tr class="listLine">
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
      </tr>
      <tr class="listLine">
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
      </tr>
      <tr class="listLine">
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
      </tr>
      <tr class="listLine">
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
      </tr>
      <tr class="listLine">
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
      </tr>
      <tr class="listLine">
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
      </tr>
      <tr class="listLine">
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
        <td class="uk-text-nowrap">Table Data Table Data</td>
      </tr>
    </tbody>
  </table>
</div>
