<div class="height100">
  <span id="closeBtn" class="close-button uk-button-link" uk-close></span>
  <div>
    <div class="uk-margin-small aside-hover">
      <label class="uk-form-label uk-text-muted" for="form-stacked-text">在庫コード</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-blank" id="form-stacked-text" type="text" data-row="zaikoCode" disabled>
      </div>
    </div>
    <div class="uk-margin-small aside-hover">
      <label class="uk-form-label uk-text-muted" for="form-stacked-text">物品コード</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-blank" id="form-stacked-text" type="text" data-row="itemCode" disabled>
      </div>
    </div>
    <div class="uk-margin-small aside-hover">
      <label class="uk-form-label uk-text-muted" for="form-stacked-text">物品名</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-blank" id="form-stacked-text" type="text" data-row="itemName" disabled>
      </div>
    </div>
    <div class="uk-margin-small aside-hover">
      <label class="uk-form-label uk-text-muted" for="form-stacked-text">ステータス</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-blank" id="form-stacked-text" type="text" data-row="status" disabled>
      </div>
    </div>
    <div class="uk-margin-small aside-hover">
      <label class="uk-form-label uk-text-muted" for="form-stacked-text">登録者</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-blank" id="form-stacked-text" type="text" data-row="registUser" disabled>
      </div>
    </div>
    <div class="uk-margin-small aside-hover">
      <label class="uk-form-label uk-text-muted" for="form-stacked-text">登録者メールアドレス</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-blank" id="form-stacked-text" type="text" data-row="registMail" disabled>
      </div>
    </div>
    <div class="uk-margin-small aside-hover">
      <label class="uk-form-label uk-text-muted" for="form-stacked-text">登録者部署名</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-blank" id="form-stacked-text" type="text" data-row="registOrgName" disabled>
      </div>
    </div>
    <div class="uk-margin-small aside-hover">
      <label class="uk-form-label uk-text-muted" for="form-stacked-text">登録日時</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-blank" id="form-stacked-text" type="text" data-row="registDate" disabled>
      </div>
    </div>
    <div class="uk-margin-small aside-hover">
      <label class="uk-form-label uk-text-muted" for="form-stacked-text">更新者</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-blank" id="form-stacked-text" type="text" data-row="updateUser" disabled>
      </div>
    </div>
    <div class="uk-margin-small aside-hover">
      <label class="uk-form-label uk-text-muted" for="form-stacked-text">更新者メールアドレス</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-blank" id="form-stacked-text" type="text" data-row="updateMail" disabled>
      </div>
    </div>
    <div class="uk-margin-small aside-hover">
      <label class="uk-form-label uk-text-muted" for="form-stacked-text">更新者部署名</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-blank" id="form-stacked-text" type="text" data-row="updateOrgName" disabled>
      </div>
    </div>
    <div class="uk-margin-small aside-hover">
      <label class="uk-form-label uk-text-muted" for="form-stacked-text">更新日時</label>
      <div class="uk-form-controls">
        <input class="uk-input uk-form-blank" id="form-stacked-text" type="text" data-row="updateDate" disabled>
      </div>
    </div>
  </div>
</div>
