<link rel="stylesheet" media="all" href="/assets/stylesheets/error.css" />
<div id="__next">
  <div data-overlay-container="true">
    <div id="div1">
      <div>
        <h1 class="next-error-h1">
            <%= @status %>
        </h1>
        <div id="div2">
          <h2 id="h21">
            <%= @message %>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
